# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Сборка
bin/
dist/

# Go модули кэши (опционально)
pkg/

# IDE/редакторы
.vscode/
.idea/
*.iml

# Docker
*.log
.env
.env.local
docker-data/
volumes/

# Конфиги с секретами
.env
*.env
config.local.yaml
config.local.json
token.txt

# Разное
*.swp
Download_Track.tar
